{% load static %}

{% block header %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'logs/style.css' %}"> -->
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NFT</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- Styles -->
		<link rel="stylesheet" href="{% static 'logs/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'logs/base.css' %}" />
		<link rel="stylesheet" href="{% static 'logs/fonts.css' %}">
		
		<link rel="stylesheet" href="{% static 'logs/main.css' %}" />
		<link rel="stylesheet" href="{% static 'logs/header/style.css' %}">
{% endblock header %}

