{% include 'logs/base.html' %}
{% load static%}
{% block content %}
<div class="container" style="color: white">
   
    

    <div class="product-1">
      <article class="main-image">
        <img src="{% static products %}" alt="" />
        <div>
        <img src="{% static 'logs/img/card/icon-view.svg' %}" alt="" />
        </div>
      </article>
    
      <article>
        <h2>{{ data.0.3 }} #{{ data.0.0 }}</h2>
        <p> {{ j.4 }} </p>
    
        <ul>
        <li><img src="{% static 'logs/img/card/icon-ethereum.svg' %}" alt="" /> {{ data.0.2 }} ETH</li>
        <li><img src="./img/card/icon-clock.svg" alt="" /> {{ data.0.5 }} </li>
        </ul>
      </article>
    
      <article class="avatar">
        <img src="{% static 'logs/img/card/image-avatar.png' %}" alt="" />
        <p><span> 

          Баланс:  {{ coins }}

          <form action="" method="post">
            <input type="hidden" name="prod_id">
            <input type="hidden" name="user_id">
            <input type="button" name="bue" id="button_for_bye" value="Купить">
            
          </form>  
        </span></p>
      </article>
    </div>
    
</div>

<script src={% static 'logs/js/seller.js' %}></script>
 

{%csrf_token%}

{% endblock content %}